h1 {
  /* màu chữ */
  color: aqua;
  /* kiểu chữ */
  font-style: italic;
  /* font chữ */
  font-family: 'Courier New', Courier, monospace;
  /* chuyển hoa thường */
  text-transform: uppercase;
}
